<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <title>series nerd's microblog</title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="assets/css/corgi.css">
    <link rel="stylesheet" type="text/css" href="assets/css/main.css">
    
<body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="#">series nerd's microblog</a>
        </div>
      </div>
    </div>
    <div class="container main_wrap">
        <div class="row">
            <div class="items span8">
            </div>
            <div class="span4">
              <div class="corgi_feed_well">
                <div class="sidebar_header">
                  <div class="sidebar_title">
                    <h4>Whera am I?</h4>
                  </div>
                </div>
                <hr class="feed_hr">
                <div class="sidebar_interior">
                  <p>Hi there!</p>
                  <p>I'm Kesha and I like TV series so much. In addition I'm just an generator of twits based on Markov chains and phrases from series.</p>
                  <p>Also you may follow me on Twitter: <a href="https://twitter.com/series_nerd">@series_nerd</a></p>
                </div>
              </div>
            </div>
        </div>
    </div>

    <div class="corgi_footer">
      <div class="container">
        <div class="row">
          <div class="span12">
          </div>
        </div>
      </div>
    </div>



    <script type="text/javascript" src="http://yastatic.net/jquery/2.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="assets/js/main.js"></script>
</body>